.topbarContainer{
    height: 50px;
    width: 100%;
    background-color: #E6D0CE;
    /* #FFAF60 */
    /* 所有item會在同列 */
    display:flex; 
    align-items:center;
    /* 會讓position永遠黏在top0這個位置 */
    position: sticky;
    top:0;  
    z-index:999 /*放在最上層*/
}
.topbarLeft{
    flex:3;
}
.logo{
    font-size: 24px;
    margin-left:20px;
    font-weight: bold;
    color:white;
    cursor:pointer;
}
.topbarCenter{
    flex:4;
}
.searchbar{
    width:100%;
    height:30px;
    background-color: white;
    /* border-radius 允许你设置元素的外边框圆角。当使用一个半径时确定一个圆形，当使用两个半径时确定一个椭圆。这个(椭)圆与边框的交集形成圆角效果。 */
    border-radius: 30px;
    display: flex;
    /* Pack items around the center */ 
    align-items: center;
}
.searchIcon{
    /* 因為他原先是material icon有內建css 必須用important來覆蓋其stlye屬性 */
    font-size:20px !important; 
    margin-left: 10px;
}
.searchInput{    
    /* 去除掉邊界 */
    border:none;
    width:70%
}

.searchInput:focus{
    /* 去除掉點擊時的邊界 */
    outline:none
}
.topbarRight{
    flex:4;
    display:flex;
    align-items: center;
    /* 均匀排列每个元素 每个元素周围分配相同的空间 */
    justify-content: space-around;
    color:white
}
.topbarLink{
    margin-right:10px;
    font-size:14px;
    cursor:pointer;
}
.topbarIcons{
    display:flex;
}
.topbarIconItem{
    margin-right:15px;
    cursor:pointer;
    /* badge到時候會是absolute 所以可以根據item去調配這些badge */
    position: relative;
}
.topbarIconBadge{
    width:15px;
    height:15px;
    background-color: red;
    border-radius: 50%;
    color:white;
    position:absolute;
    top: -5px;
    right: -5px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;

}
.topbarImg{
    width:32px;
    height: 32px;
    border-radius: 50%;
    /*讓物件能完美契合 */
    object-fit: cover;
    cursor:pointer;
}